   {% block menu %}
   {% load static %}
<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'panel' %}">
                        <div class="brand-logo"><img class="logo" src="{% static 'admin_panel/app-assets/images/logo/logo.png' %}" /></div>
                        <h2 class="brand-text mb-0">FACTUM</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
                 <li class="navigation-header"><span>Service</span></li>
                <li class=" {% if request.path == '/admin/' %} active {% endif %}  nav-item"><a href="{% url 'panel' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Главная</span></a>
                </li>
                <li class="{% if request.path == '/admin/slider-add' or slider.pk %}  active {% endif %}  nav-item"><a href="{% url 'slider-add' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Slider-info</span></a>
                </li>
                <li class="{% if request.path == '/admin/service-add' or service.pk %} active {% endif %}  nav-item"><a href="{% url 'service-add' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Услуги</span></a>
                </li>
                <li class="{% if request.path == '/admin/project-add' or project.pk %} active {% endif %}  nav-item"><a href="{% url 'project-add' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Проекты</span></a>
                </li>
                <li class="{% if request.path == '/admin/news-add' or new.pk %} active {% endif %}  nav-item"><a href="{% url 'news-add' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Новости</span></a>
                </li>
                <li class="{% if request.path == '/admin/trust-add' %} active {% endif %}  nav-item"><a href="{% url 'trust-add' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Нам доверяют</span></a>
                </li>
                <li class="{% if request.path == '/admin/contacts' %} active {% endif %} nav-item"><a href="{% url 'admin-contacts' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Контакты</span></a>
                </li>
            <li class="navigation-header"><span>Modules</span></li>
                <li class=" nav-item"><a href="#"><i class="menu" data-icon="users"></i><span class="menu-title" data-i18n="User">Слайдер</span></a>
                    <ul class="menu-content">
                        <li><a href="{% url 'modules-slider-add' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Добавить слайдер</span></a>
                        </li>
                    </ul>
             </li>
            <li><a href="{% url 'modules-contacts' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Контакты</span></a>
                        </li>
            <li class="navigation-header"><span>Auto</span></li>
                <li class=" nav-item"><a href="#"><i class="menu" data-icon="users"></i><span class="menu-title" data-i18n="User">Слайдер</span></a>
                    <ul class="menu-content">
                        <li><a href="{% url 'auto-slider-add' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Добавить слайдер</span></a>
                        </li>
                    </ul>
             </li>
            <li class=" nav-item"><a href="#"><i class="menu" data-icon="users"></i><span class="menu-title" data-i18n="User">Контакты</span></a>
                    <ul class="menu-content">
                        <li><a href="{% url 'auto-slider-add' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">В шапке</span></a>
                        <li><a href="{% url 'auto-slider-add' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">В подвале</span></a>
                        </li>
                    </ul>
             </li>

             <li class="navigation-header"><span>Plast</span></li>
            <li class="{% if request.path == '/admin/contacts' %} active {% endif %} nav-item"><a href="{% url 'admin-contacts' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Контакты</span></a>
                </li>
            </ul>


        </div>
    </div>
    <!-- END: Main Menu-->
   {% endblock %}