{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Frest admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Frest admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Account Settings - Frest - Bootstrap HTML admin template</title>

    {% block cssLoader %}
    {% include 'admin_panel/cssLoader.html' %}
    {% endblock cssLoader %}

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">

    <!-- BEGIN: Header-->
    {% block content %}
    {% include 'admin_panel/headerFORM.html' %}
    {% endblock %}
    <!-- END: Header-->


      <!-- BEGIN: Main Menu-->
    {% block menu %}
    {% include 'admin_panel/mainMenuFORM.html' %}
    {% endblock menu %}
   <!-- END: Main Menu-->


    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h5 class="content-header-title float-left pr-1 mb-0">Slider-info</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- account setting page start -->
                <section id="page-account-settings">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <!-- right content section -->
                                <div class="col-md-9">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-panel active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                                        <form action="{% url 'slider-add' %}" method="POST" enctype="multipart/form-data">
                                                             {% csrf_token %}
                                                            <input type="hidden" name="form" value="add">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="controls">
                                                                            <label>Заголовок</label>
                                                                            <input type="text" class="form-control" name = "name" placeholder="Заголовок" value="" required>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="controls">
                                                                            <label>Текст</label>
                                                                            <textarea type="text" class="form-control" name = "text" placeholder="Текст" required></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="controls">
                                                                            <label>Фон</label>
                                                                            <input type="file" name="back">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="controls">
                                                                            <label>Картинка</label>
                                                                            <input type="file" name="img">
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                                    <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">Отправить</button>
                                                                    <button type="reset" class="btn btn-light mb-1">Закрыть</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    </div>


                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                   <section class="users-list-wrapper">
                      <div class="users-list-table">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- datatable start -->
                                    <div class="table-responsive">
                                        <table id="users-list-datatable" class="table">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Заголовок</th>
                                                    <th>Текст</th>
                                                    <th>Изменить</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for slider in sliders %}
                                                  <tr>
                                                    <td>{{ slider.pk }}</td>
                                                    <td><a href="{% url 'slider-edit' slider.pk %}">{{ slider.name}}</a>
                                                    </td>
                                                    <td>{{ slider.get_excerpt }}</td>
                                                    <td><a href="{% url 'slider-edit' slider.pk %}"><i class="bx bx-edit-alt"></i></a></td>
                                                </tr>
                                                  {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- datatable ends -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- account setting page ends -->
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Footer-->
    {% block footer %}
    {% include 'admin_panel/footerFORM.html' %}
    {% endblock footer %}
    <!-- END: Footer-->



    {% block jsLoader %}
    {% include 'admin_panel/jsLoader.html' %}
    {% endblock jsLoader %}

</body>
<!-- END: Body-->

</html>