{% load static %}
{% block cssload %}
        <link rel="stylesheet" href="{% static 'front/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'front/css/swiper.min.css' %}">
        <link href="{% static 'front/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'front/css/responsive.css' %}" rel="stylesheet">
{% endblock cssload  %}