{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
        {% block cssload %}
        {% include 'modules/cssloader.html' %}
        {% endblock cssload %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content zvz">
                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">Получите бесплатную<br>
                        консультацию</h5>
                    <form class="form" action="{% url 'mailer' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form" value="mail_1">
                        <div class="form__group">
                            <input type="text" placeholder="Имя" name="name">
                        </div>
                        <div class="form__group">
                            <input type="tel" id="tel" placeholder="+7(777)777-77-77" name="phone">
                        </div>
                        <div class="form__group">
                            <input type="email" placeholder="E-mail" name="email">
                        </div>
                        <button type="submit" class="btn btn-primary submt">Оставьте заявку</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="number" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title n" id="exampleModalLabel">
                        {% for ph in phone %}
                            {{ ph.phone }}
                            <br>
                        {% endfor %}
                    </h5>
                </div>
              </div>
            </div>
          </div>
        <header id="navbar">
            <div class="container">
                <div class="mob-header">
                    <div class="inner">
                        <img src="{% static 'front/img/logo.svg' %}" alt="logo" class="logo">
                        <div class="mob-toggle">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <a href="{% url 'MainPage' %}"><img src="{% static 'front/img/logo.svg' %}" alt="logo" class="logo"></a>
                    <ul>
                       
                          <li>
                              <form action="{% url 'set_language' %}" method="post">
                              {% csrf_token %}
                                  <input type="hidden" name="next" value="{{ redirect_to }}">
                                    <select class="language" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {% if language.code == 'en' %}
                                                ENG
                                            {% endif %}
                                            {% if language.code == 'ru' %}
                                                RUS
                                            {% endif %}
                                            {% if language.code == 'kk' %}
                                                KAZ
                                            {% endif %}
                                        </option>
                                        {% endfor %}
                                    </select>
                                  <input type="submit" value="Go">
                                  </form>
                                </li>
                        <li>
                            <a href="#" class="number" data-toggle="modal" data-target="#number">{% trans 'Показать номер' %}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </header>
        <section class="mainblock index2">
            <div class="container">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper">
                        {% for slider in sliders %}
                      <div class="swiper-slide">
                        <div class="content">
                            <div class="texts u">
                                <h1>{{slide.name}}</h1>
                                 <p>{{slide.text}}</p>
                                <button type="button" class="btn btn-primary a" data-toggle="modal" data-target="#exampleModal">
                                        {% trans 'Оставьте заявку' %}
                                </button>
                            </div>
                            <img src="/media/{{ slide.img }}" alt="toilet" class="toilet r">
                        </div>
                      </div>
                        {% endfor %}

                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination ind"></div>
                </div>
            </div>
        </section>
        <section class="two">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="info s">
                            <h2>О компании</h2>
                            <p>TOO «KazBioServis-Astana» уже около 10 лет является отечественным производителем модульных знаний и туалетных кабин, которое осуществляет полный цикл - от проектирования до выпуска готовой продукции.</p>
                            <p>Производственные мощности компании занимают около 1000 кв. м площади. Современное европейское оборудование позволяет выпускать продукцию самого высокого качества, что подтверждается сертификатами и заключениями государственного и международного образца.</p>
                            <p>Кроме того, компания имеет собственный парк техники (24 единицы) и квалифицированный персонал по обслуживанию туалетных модулей и биотуалетов.</p>
                            <p>На сегодняшний день это более 600 единиц ежедневно.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <img src="{% static 'front/img/img2.png' %}" alt="photo1" class="photo1 w-100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="info">
                            <h2>Описание продуции</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="info s">
                            <p>Одним из основных направлений деятельности компании «KazBioServis-Astana» является разработка и производство современных автономных туалетных зданий с возможностью изготовить модуль любых размеров, дизайна и комплектации по желанию заказчика.</p>
                            <p>Туалетные кабины широко применяются в парках, на рынках, в зонах с трудным доступом к воде, в местах большого скопления людей.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="info s">
                            <p>Повышенная прочность корпуса допускает неоднократную смену места расположения, имеет антивандальную защиту.</p>
                            <p>Эксплуатация модуля не требует подключения к водо-канализационной сети, функционирует на электричестве, оборудована системой обогрева помещения и воды.</p>
                            <p>Диспечер дистанционно отслеживает остатки воды, средств для уборки, отходов, координирует работу служб по уборке.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="swiper-container swiper5">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                        <img src="{% static 'front/img/slide1.png' %}" alt="partner" class="w-100">
                                </div>
                                <div class="swiper-slide">
                                        <img src="{% static 'front/img/slide2.png' %}" alt="partner" class="w-100">
                                </div>  
                                <div class="swiper-slide">
                                        <img src="{% static 'front/img/slide1.png' %}" alt="partner" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination-swiper5"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="rev">
            <div class="container">
                <div class="row">
                    <div class="info">
                        <h2>Преимущества</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="info s l">
                            <h3>Возможность заказать любой размер и<br>
                                комплектацию.</h3>
                            <p>Ваша выгода заключается в получении комплексного решения - от разработки индивидуальной конструкции и его производства до установки.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <img src="{% static 'front/img/one.png' %}" alt="one" class="w-100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <img src="{% static 'front/img/two.png' %}" alt="one" class="w-100">
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="info s l">
                            <h3>Современный стильный дизайн</h3>
                            <p>наших модулей позволяет гармонично дополнить городской архитектурный ансамбль и подчеркнуть его современный стиль благодаря оборудованию санитарных кабин LED освещением.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="info s s1">
                            <h3>Технологичность</h3>
                            <p>производимых нами модульных знаний и туалетных кабин дает вам возможность легко дистанционно контролировать функционирование самого объекта и работу бригад по обслуживанию. Вам доступен контроль остатков воды, чистящих средств, отходов, управление отоплением, вентиляцией и освещением.</p>
                            <p> Комплекс удаленного контроля и управления туалетными модулями и биотуалетами – технологическая новинка на рынке, которая позволяет значительно снизить затраты на обслуживание и повысить уровень качества сервиса.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <img src="{% static 'front/img/three.png' %}" alt="one" class="w-100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <img src="{% static 'front/img/four.png' %}" alt="one" class="w-100">
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="info s l">
                            <h3>Антивандальная защита</h3>
                            <p>является обязательной частью комплектации туалетных модулей. С внешней стороны кабина обшивается металлокассетами повышенной толщины.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="info s l">
                            <h3>Комфорт для посетителей.</h3>
                            <p>Полное соответствие санитарным нормам, обогрев в холодное время. Автономно эксплуатировать туалет при интенсивном посещении возможно до 3-х суток.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <img src="{% static 'front/img/five.png' %}" alt="one" class="w-100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <img src="{% static 'front/img/six.png' %}" alt="one" class="w-100">
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="info s l">
                            <h3>Оптимальные цены</h3>
                            <p>в соотношении цена/качество/долговечность позволяют нам, как лидерам рынка по данному продукту, с уверенностью заявить, что мы сделаем вам самое выгодное предложение.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary a b" data-toggle="modal" data-target="#exampleModal">
                            Оставьте заявку
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="five v">>
            <div class="container">
                <div class="info s">
                    <h2>Галерея</h2>
                    <p>Модульные туалетные здания прекрасно сочетаются с современной городской архитектурой, гармонично вписываясь в ее дизайн как днем, так и ночью.</p>
                    <p> Внешняя эстетика, многофункциональность, простота контроля и обслуживания, надежность, удобство для пользователей круглый год – несомненные преимущества наших туалетных модулей!</p>
                </div>
                <div class="swiper-container swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="news">
                                <div class="item">
                                    <img src="{% static 'front/img/project4.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project2.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project4.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project3.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="news">
                                <div class="item">
                                    <img src="{% static 'front/img/project4.png' %}' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project2.png' %}' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project4.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project3.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="news">
                                <div class="item">
                                    <img src="{% static 'front/img/project4.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project2.png' %}' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project4.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'front/img/project3.png' %}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>1 Августа 2021</p>
                                        </div>
                                        <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-swiper2 swiper-pagination"></div>
                <div class="swiper-container swiper4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="projects">
                                <img src="{% static 'front/img/project4.png' %}" alt="project" class="project">
                                <div class="info">
                                    <div class="info-header">
                                        <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                        <p>1 Августа 2021</p>
                                    </div>
                                    <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="projects">
                                <img src="{% static 'front/img/project2.png' %}' %}" alt="project" class="project">
                                <div class="info">
                                    <div class="info-header">
                                        <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                        <p>1 Августа 2021</p>
                                    </div>
                                    <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="projects">
                                <img src="{% static 'front/img/project3.png' %}" alt="project" class="project">
                                <div class="info">
                                    <div class="info-header">
                                        <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                        <p>1 Августа 2021</p>
                                    </div>
                                    <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="projects">
                                <img src="{% static 'front/img/project4.png' %}" alt="project" class="project">
                                <div class="info">
                                    <div class="info-header">
                                        <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                        <p>1 Августа 2021</p>
                                    </div>
                                    <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-swiper4 swiper-pagination"></div>
            </div>
        </section>
        <section class="six">
            <div class="container">
                <h2>Нам доверяют</h2>
                <div class="swiper-container swiper3">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                            <img src="{% static 'front/img/partner1.png' %}" alt="partner" class="partner-img">
                      </div>
                      <div class="swiper-slide">
                        <img src="{% static 'front/img/partner2.png' %}" alt="partner" class="partner-img">
                      </div>  
                      <div class="swiper-slide">
                        <img src="{% static 'front/img/partner3.png' %}" alt="partner" class="partner-img">
                      </div>
                      <div class="swiper-slide">
                        <img src="{% static 'front/img/partner4.png' %}" alt="partner" class="partner-img">
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-pagination-swiper3"></div>
            </div>
        </section>
        <section class="eight">
            <div class="container">
                <div class="row p">
                    <div class="col-12 col-md-3">
                        <p class="eight-h">Оставить заявку</p>
                    </div>
                </div>
                <form action="mail.php" method="POST">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <input type="name" class="input-name" placeholder="Ваше имя*" required="">
                        </div>
                        <div class="col-12 col-md-5">
                            <input type="phone" class="input-tele" placeholder="Номер телефона*" required="">
                        </div>
                        <div class="col-12 col-md-2">
                            <button type="submit" class="input-button">ОСТАВИТЬ ЗАЯВКУ</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="end">
                    <img src="{% static 'front/img/logo2.svg' %}" alt="logo">
                    <div class="second-part">
                        <ul>
                            <li>
                                <a href="index.html">Главная страница</a>
                            </li>
                            <li>
                                <a href="about.html">О компании</a>
                            </li>
                            <li>
                                <a href="#">Продукция</a>
                            </li>
                            <li>
                                <a href="services.html">Услуги</a>
                            </li>
                            <li>
                                <a href="news.html">Новости</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                        <div class="infos">
                            <a href="#" class="number dop" data-toggle="modal" data-target="#number">Показать номер</a>
                            <p class="email">E-mail:<br>
                                sales@kbs.kz</p>
                            <p class="adress">Адрес:<br>
                                г. Нур-Султан, район Сарыарка,<br>
                                Жилой массив Коктал, улица Болашак, дом 34,</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{% static 'front/js/jquery-3.2.1.slim.min.js' %}"></script>
        <script src="{% static 'front/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'front/js/swiper.min.js' %}"></script>
        <script src="{% static 'front/js/imask.min.js' %}"></script>
        <script src="{% static 'front/js/script.js' %}"></script>
    </body>