{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Frest admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Frest admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Users List - Frest - Bootstrap HTML admin template</title>

    {% block cssLoader %}
    {% include 'admin_panel/cssLoader.html' %}
    {% endblock cssLoader %}

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">

    <!-- BEGIN: Header-->
    {% block content %}
    {% include 'admin_panel/headerFORM.html' %}
    {% endblock %}
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    {% block menu %}
    {% include 'admin_panel/mainMenuFORM.html' %}
    {% endblock menu %}
   <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Добавить адрес</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form form-horizontal" action="{% url 'admin-contacts' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="type" value="address">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                     <label>Адрес</label>
                                                                    <input type="text" id="first-name" class="form-control" name="address" placeholder="Адресс">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Создать</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Добавить телефон</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <form class="form form-horizontal" action="{% url 'admin-contacts' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="type" value="phone">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                         <label>Телефон</label>
                                                                        <input type="text" id="first-name" class="form-control" name="phone" placeholder="Телефон">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                       <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Создать</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Добавить E-mail</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <form class="form form-horizontal" action="{% url 'admin-contacts' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="type" value="email">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                         <label>E-mail</label>
                                                                        <input type="text" id="first-name" class="form-control" name="email" placeholder="E-mail">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                       <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Создать</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Добавить время работы:</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <form class="form form-horizontal" action="{% url 'admin-contacts' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="type" value="worktime">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                         <label>Время работы</label>
                                                                        <input type="text" id="first-name" class="form-control" name="worktime" placeholder="Время работы">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                       <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Создать</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                      <div class="col-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Список адрессов</h4>
                                    </div>
                                    <div class="users-list-table">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- datatable start -->
                                    <div class="table-responsive">
                                        <table id="users-list-datatable" class="table">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Адрес</th>
                                                    <th>Изменить</th>
                                                    <th>Удалить</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for q in address %}
                                              <tr>
                                                    <td>{{ q.pk }}</td>
                                                    <td>{{ q.address }}</td>
                                                  <td><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#inlineForm{{q.pk}}">Изменить</button></td>
                                                  <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteForm{{q.pk}}">Удалить</button></td>

                                               {% endfor %}
                                                       {% for a in address %}
                                        <div class="modal fade text-left" id="inlineForm{{a.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h4 class="modal-title" id="myModalLabel33">Изменение {{tar.pk}} </h4>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <i class="bx bx-x"></i>
                                                              </button>
                                                            </div>
                                                              <form action="{% url 'contacts-edit' a.pk %}" method="post" enctype="multipart/form-data">
                                                                     {% csrf_token %}
                                                                  <input type="hidden" name="form" value="address-edit">
                                                              <div class="modal-body">
                                                                <label>Адрес:</label>
                                                                <div class="form-group">
                                                                  <input type="text" placeholder="Вопрос" class="form-control" name="address" value="{{a.address}}">
                                                                </div>
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                                                  <i class="bx bx-x d-block d-sm-none"></i>
                                                                  <span class="d-none d-sm-block">Закрыть</span>
                                                                </button>
                                                                <button type="submit" class="btn btn-primary ml-1">Сохранить</button>
                                                              </div>

                                                            </form>

                                                          </div>
                                                        </div>
                                                      </div>
                                                {% endfor %}
                                                  {% for z in address %}
                                                              <form action="{% url 'contacts-edit' z.pk %}" method="post" id="delete-address{{z.pk}}">
                                                                    {% csrf_token %}
                                                                     <input type="hidden" name="form" value="address-delete">
                                                                     <input type="hidden" name="address_pk" value="{{z.pk}}">
                                                              </form>
                                                  {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- datatable ends -->
                                </div>
                            </div>
                        </div>
                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Список телефонов</h4>
                                    </div>
                                    <div class="users-list-table">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- datatable start -->
                                    <div class="table-responsive">
                                        <table id="users-list-datatable" class="table">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Телефон</th>
                                                    <th>Изменить</th>
                                                    <th>Удалить</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for q in phone %}
                                              <tr>
                                                    <td>{{ q.pk }}</td>
                                                    <td>{{ q.phone }}</td>
                                                  <td><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#inlineFormPh{{q.pk}}">Изменить</button></td>
                                                  <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteFormPh{{q.pk}}">Удалить</button></td>

                                               {% endfor %}
                                                       {% for a in phone %}
                                        <div class="modal fade text-left" id="inlineFormPh{{a.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h4 class="modal-title" id="myModalLabel33">Изменение {{tar.pk}} </h4>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <i class="bx bx-x"></i>
                                                              </button>
                                                            </div>
                                                              <form action="{% url 'contacts-edit' a.pk %}" method="post" enctype="multipart/form-data">
                                                                     {% csrf_token %}
                                                                  <input type="hidden" name="form" value="phone-edit">
                                                              <div class="modal-body">
                                                                <label>Телефон:</label>
                                                                <div class="form-group">
                                                                  <input type="text" placeholder="Вопрос" class="form-control" name="phone" value="{{a.phone}}">
                                                                </div>
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                                                  <i class="bx bx-x d-block d-sm-none"></i>
                                                                  <span class="d-none d-sm-block">Закрыть</span>
                                                                </button>
                                                                <button type="submit" class="btn btn-primary ml-1">Сохранить</button>
                                                              </div>

                                                            </form>

                                                          </div>
                                                        </div>
                                                      </div>
                                                {% endfor %}
                                                  {% for z in phone %}
                                                              <form action="{% url 'contacts-edit' z.pk %}" method="post" id="delete-phone{{z.pk}}">
                                                                    {% csrf_token %}
                                                                     <input type="hidden" name="form" value="phone-delete">
                                                                     <input type="hidden" name="phone_pk" value="{{ z.pk }}">
                                                              </form>
                                                  {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- datatable ends -->
                                </div>
                            </div>
                        </div>
                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Список E-mail</h4>
                                    </div>
                                    <div class="users-list-table">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- datatable start -->
                                    <div class="table-responsive">
                                        <table id="users-list-datatable" class="table">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>E-mail</th>
                                                    <th>Изменить</th>
                                                    <th>Удалить</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for q in email %}
                                              <tr>
                                                    <td>{{ q.pk }}</td>
                                                    <td>{{ q.email }}</td>
                                                  <td><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#inlineFormEm{{q.pk}}">Изменить</button></td>
                                                  <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteFormEm{{q.pk}}">Удалить</button></td>

                                               {% endfor %}
                                                       {% for a in email %}
                                        <div class="modal fade text-left" id="inlineFormEm{{a.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h4 class="modal-title" id="myModalLabel33">Изменение {{tar.pk}} </h4>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <i class="bx bx-x"></i>
                                                              </button>
                                                            </div>
                                                              <form action="{% url 'contacts-edit' a.pk %}" method="post" enctype="multipart/form-data">
                                                                     {% csrf_token %}
                                                                  <input type="hidden" name="form" value="email-edit">
                                                              <div class="modal-body">
                                                                <label>E-mail:</label>
                                                                <div class="form-group">
                                                                  <input type="text" placeholder="Вопрос" class="form-control" name="email" value="{{a.email}}">
                                                                </div>

                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                                                  <i class="bx bx-x d-block d-sm-none"></i>
                                                                  <span class="d-none d-sm-block">Закрыть</span>
                                                                </button>
                                                                <button type="submit" class="btn btn-primary ml-1">Сохранить</button>
                                                              </div>

                                                            </form>

                                                          </div>
                                                        </div>
                                                      </div>
                                                {% endfor %}
                                                  {% for z in email %}
                                                              <form action="{% url 'contacts-edit' z.pk %}" method="post" id="delete-email{{z.pk}}">
                                                                    {% csrf_token %}
                                                                     <input type="hidden" name="form" value="email-delete">
                                                                     <input type="hidden" name="email_pk" value="{{z.pk}}">
                                                                    </form>
                                                              {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- datatable ends -->
                                </div>
                            </div>
                        </div>
                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Время работы</h4>
                                    </div>
                                    <div class="users-list-table">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- datatable start -->
                                    <div class="table-responsive">
                                        <table id="users-list-datatable" class="table">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Время работы</th>
                                                    <th>Изменить</th>
                                                    <th>Удалить</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for q in worktime %}
                                              <tr>
                                                    <td>{{ q.pk }}</td>
                                                    <td>{{ q.holidaytime }}</td>
                                                  <td><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#inlineFormWr{{q.pk}}">Изменить</button></td>
                                                  <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteFormWr{{q.pk}}">Удалить</button></td>

                                               {% endfor %}
                                                       {% for a in worktime %}
                                        <div class="modal fade text-left" id="inlineFormWr{{a.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h4 class="modal-title" id="myModalLabel33">Изменение {{tar.pk}} </h4>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <i class="bx bx-x"></i>
                                                              </button>
                                                            </div>
                                                              <form action="{% url 'contacts-edit' a.pk %}" method="post" enctype="multipart/form-data">
                                                                     {% csrf_token %}
                                                                  <input type="hidden" name="form" value="worktime-edit">
                                                              <div class="modal-body">
                                                                <label>Время работы:</label>
                                                                <div class="form-group">
                                                                  <input type="text" placeholder="Время работы" class="form-control" name="holidaytime" value="{{a.holidaytime}}">
                                                                </div>

                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                                                  <i class="bx bx-x d-block d-sm-none"></i>
                                                                  <span class="d-none d-sm-block">Закрыть</span>
                                                                </button>
                                                                <button type="submit" class="btn btn-primary ml-1">Сохранить</button>
                                                              </div>

                                                            </form>

                                                          </div>
                                                        </div>
                                                      </div>
                                                {% endfor %}
                                                  {% for z in worktime %}
                                                              <form action="{% url 'contacts-edit' z.pk %}" method="post" id="delete-worktime{{z.pk}}">
                                                                    {% csrf_token %}
                                                                     <input type="hidden" name="form" value="worktime-delete">
                                                                     <input type="hidden" name="worktime_pk" value="{{z.pk}}">
                                                                    </form>
                                                              {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- datatable ends -->
                                </div>
                            </div>
                        </div>
                    </div>
                                </div>
                      </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->
    {% for t in address %}
    <div class="modal text-left" id="deleteForm{{t.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content">

              <div class="modal-body">
                  <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div>
                  <h4 class="modal-title text-center" >Вы действительно хотите удалить адрес?</h4>
                  <p class="text text-center">Данное действие невозможно отменить.</p>
              <div class="mt-2 d-flex flex-sm-row flex-column justify-content-center">
                <a type="reset" class="btn btn-light mb-1 mr-sm-1 text-white" data-dismiss="modal" aria-label="Close">Закрыть</a>
               <input type="submit" class="btn btn-danger mb-1" form="delete-address{{t.pk}}" value="Удалить вопрос">
              </div>
              </div>

          </div>
        </div>
      </div>
    {% endfor %}
    {% for t in phone %}
    <div class="modal text-left" id="deleteFormPh{{t.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content">

              <div class="modal-body">
                  <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div>
                  <h4 class="modal-title text-center" >Вы действительно хотите удалить телефон?</h4>
                  <p class="text text-center">Данное действие невозможно отменить.</p>
              <div class="mt-2 d-flex flex-sm-row flex-column justify-content-center">
                <a type="reset" class="btn btn-light mb-1 mr-sm-1 text-white" data-dismiss="modal" aria-label="Close">Закрыть</a>
               <input type="submit" class="btn btn-danger mb-1" form="delete-phone{{t.pk}}" value="Удалить телефон">
              </div>
              </div>

          </div>
        </div>
      </div>
    {% endfor %}
    {% for t in email %}
    <div class="modal text-left" id="deleteFormEm{{t.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content">

              <div class="modal-body">
                  <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div>
                  <h4 class="modal-title text-center" >Вы действительно хотите удалить E-mail?</h4>
                  <p class="text text-center">Данное действие невозможно отменить.</p>
              <div class="mt-2 d-flex flex-sm-row flex-column justify-content-center">
                <a type="reset" class="btn btn-light mb-1 mr-sm-1 text-white" data-dismiss="modal" aria-label="Close">Закрыть</a>
               <input type="submit" class="btn btn-danger mb-1" form="delete-email{{t.pk}}" value="Удалить вопрос">
              </div>
              </div>

          </div>
        </div>
      </div>
    {% endfor %}
    {% for t in worktime %}
    <div class="modal text-left" id="deleteFormWr{{t.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content">

              <div class="modal-body">
                  <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div>
                  <h4 class="modal-title text-center" >Вы действительно хотите удалить запись?</h4>
                  <p class="text text-center">Данное действие невозможно отменить.</p>
              <div class="mt-2 d-flex flex-sm-row flex-column justify-content-center">
                <a type="reset" class="btn btn-light mb-1 mr-sm-1 text-white" data-dismiss="modal" aria-label="Close">Закрыть</a>
               <input type="submit" class="btn btn-danger mb-1" form="delete-worktime{{t.pk}}" value="Удалить запись">
              </div>
              </div>

          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    {% block footer %}
    {% include 'admin_panel/footerFORM.html' %}
    {% endblock footer %}
    <!-- END: Footer-->

    {% block jsLoader %}
    {% include 'admin_panel/jsLoader.html' %}
    {% endblock jsLoader %}

</body>
<!-- END: Body-->

</html>