@media screen and (max-width: 1400px) {
    .mob-header {
        display: block;
    }
    .menu {
        display: none;
    }
    header ul {
        margin-top: 40px;
        margin-left: -70px;
    }
    header ul li {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    header ul li a {
        color: white;
        font-size: 24px;
    }
    .logo {
        width: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .main4 .content {
        grid-template-columns: 1fr;
    }  
    .main4 .premiums {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 60px;
    }
    .toilet {
        display: none;
    }
    .main3 {
        padding: 150px 0px 100px 0px;
    }
    .main3 img {
        display: none;
    }
    .choose {
        height: 25vh;
    }
    .icon {
        display: none;
    }
    .choose img {
        display: none;
    }
    .main-info {
        width: 100%;
        margin-left: 20px;
        margin-top: 70px;
    }
    .main-info h2 {
        font-size: 29px;
    }
    .choose:last-child {
        border-left: 0px;
    }
    .choose:nth-child(2) {
        border-left: 0px;
    }
    .choose:nth-child(2) .main-info {
        margin-top: 90px;
    }
    .choose:not(:last-child) {
        border-bottom: 3px solid white;
    }
    .choose-block {
        grid-template-columns: 100%;
    }
    .mail {
        margin: 0;
    }
}


@media screen and (max-width: 768px) {
    .main-info h3 {
        font-size: 34px;
    }
    .main4 .premiums {
        display: none;
    }
    .auto {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .photo-item {
        height: 150px;
    }
    .choose:nth-child(2) .main-info {
        margin-top: 20px;
    }
    .choose:nth-child(3) .main-info {
        margin-top: 20px;
    }
    .choose:nth-child(4) .main-info {
        margin-top: 20px;
    }
    .main-info {
        margin-top: 20px;
    }
    .l {
        margin-top: 20px;
    }
    .info h3 {
        font-size: 19px;
    }
    .rev .row:nth-child(2) {
        flex-direction: column-reverse;
    }
    .rev .row:nth-child(4) {
        flex-direction: column-reverse;
    }
    .rev .row:nth-child(6) {
        flex-direction: column-reverse;
    }
    .u {
        position: static;
        width: 100%;
    }
    .product-block {
        grid-template-columns: 1fr 1fr;
    }
    .photo1 {
        margin-top: 10px;
    }
    .novost {
        margin-bottom: 20px;
    }
    .mainblock {
        padding-top: 0px;
        padding-bottom: 97px;
    }
    .modal-body {
        background: white;
    }
    .swiper-pagination-swiper2 {
        display: none;
    }
    .modal input{
        height: 48px;
    }
    .texts {
        margin-top: 135px;
    }
    .texts button {
        margin-top: 16px;
        margin-bottom: 80px;
    }
    .swiper2 {
        display: none;
    }
    .swiper4 {
        display: block;
    }
    .swiper1 h1 {
        font-size: 24px;
    }
    .swiper1 p {
        font-size: 16px;
    }
    .swiper1 .swiper-pagination-bullets {
        top: 335px;
        left: 0;
    }
    .number {
        font-size: 11px;
        margin-left: 0px;
    }
    .product p {
        font-size: 14px;
        padding-top: 13px;
        padding-left: 10px;
    }
    .end img {
        width: 240px;
        display: block;
        margin: 0 auto;
    }
    .end ul li:not(:first-child) {
        padding-left: 0px;
    }   
    .end ul li {
        text-align: center;
    }
    footer {
        padding: 0px 0px;
        background-color: #465998;
    }
    
    footer ul li {
        display: flex;
        flex-direction: column;
    }
    .end {
        display: flex;
        flex-direction: column;
    }
    .air {
        height: 150px;
    }
    .second-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .infos p {
        font-size: 24px;
        text-align: center;
    }
    .nomer a {
        pointer-events: all;
    }
    .adress {
        padding-left: 0px;
    }
    .email {
        padding-left: 0px;
    }
    .infos {
        padding-left: 0px;
        flex-direction: column;
    }
    .end ul {
        padding-right: 30px;
    }
    .end ul li {
        padding-bottom: 10px;
    }
    .end ul li a {
        font-family: Gilroy;
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
    .email {
        padding-left: 0px;
    }
    .adress {
        padding-left: 0px;
    }
    .dop {
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }
    .n {
        font-size: 40px;
    }
    .block br {
        display: none;
    }
    .strelka {
        display: none;
    }
    .eight input {
        margin-bottom: 10px;
    }
    .modal-body form {
        margin-top: 0px;
    }
    .submt {
        margin-top: 15px;
        height: 40px;
        font-size: 14px;
    }
    .modal-title {
        font-size: 23px;
    }
    .eleven h3 {
        font-size: 21px;
    }
}

@media screen and (max-width: 540px) {
    .container {
        width: 516px;
    }
    .choose {
        height: 50vh;
    }
    .choose:nth-child(2) .main-info {
        margin-top: 40px;
    }
    .choose:nth-child(3) .main-info {
        margin-top: 20px;
    }
    .choose:nth-child(4) .main-info {
        margin-top: 40px;
    }
    .main4 {
        padding-top: 150px;
    }
    .main-info h3 {
        font-size: 23px;
    }
    .information h1 {
        font-size: 28px;
    }
    .information p {
        font-size: 16px;
    }
}

@media screen and (max-width: 415px) {
    .container {
        width: 387px;
    }
}

@media screen and (max-width: 376px) {
    .container {
        width: 342px;
    }
    .choose {
        height: 40vh;
    }
}

@media screen and (max-width: 360px) {
    .container {
        width: 336px;
    }
    .choose {
        height: 55vh;
    }
}

@media screen and (max-width: 321px) {
    .container {
        width: 296px;
    }
}

