{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans 'О компании' %}</title>
          {% block cssload %}
            {% include 'front/cssloader.html' %}
        {% endblock %}
    </head>
    <body>
      {% block header %}
       {% include 'front/headerload.html' %}
       {% endblock %}
        <section class="eleven">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h1 class="start">{% trans 'О компании' %}</h1>
                        <h3>{% trans '"Мы делаем жизнь комфортнее заботясь о вас"' %}</h3>
                        <button type="button" class="btn btn-primary a" data-toggle="modal" data-target="#exampleModal">
                            {% trans 'Оставьте заявку' %}
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="nine">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-md-6">
                        <h2>{% trans 'Миссия компании' %}</h2>
                        <p class="w-100">{% trans 'Мы прикладываем максимум усилий для того, чтобы сделать жизнь потребителей комфортнее, благодаря высококачественным товарам первой необходимости в общественных местах. Мы несем ответственность за качество и экологическую безопасность.' %}</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="{% static 'front/img/about-company.png' %}" alt="company" class="w-100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h2>{% trans 'История' %}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="w-100">{% trans 'ТОО «KazBioServis-Astana» на рынке существует больше 10 лет. Мы начинали своё производство с 20-ти машин. До момента создания собственного производства, мы сотрудничали с Российскими заводами, за тот период мы приобрели значительный опыт. Улучшили производство и создали то, что улучшает санитарно-эпидемиологическую обстановку в городе и в нашей стране.' %}</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="w-100">{% trans 'Мы гордимся собственному производству биокабин, модульных туалетов, и модульных зданий различного назначения. При создании собственного производства мы столкнулись с единственной проблемой - это абсолютно новое направление. Мы не знали всех тонкостей и нюансов, но со временем, с каждым днем мы набирались нового опыта, учились у Европейских партнеров. Таким образом, компания ТОО «KazBioServis-Astana» имеет собственный автопарк и собственное оборудование с производственными мощностями, самое главное – это наработанный опыт.Мы гордимся собственному производству биокабин, модульных туалетов, и модульных зданий различного назначения. При создании собственного производства мы столкнулись с единственной проблемой - это абсолютно новое направление. Мы не знали всех тонкостей и нюансов, но со временем, с каждым днем мы набирались нового опыта, учились у Европейских партнеров. Таким образом, компания ТОО «KazBioServis-Astana» имеет собственный автопарк и собственное оборудование с производственными мощностями, самое главное – это наработанный опыт.' %}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="new">
            <div class="container">
                <div class="row director">
                    <div class="col-12 col-md-7">
                        <h4>{% trans 'Обращение директора' %}</h4>
                        <p class="w-100">{% trans 'Дорогие друзья! Мы работаем для Вас больше 10 лет. Каждый день мы стараемся сделать наше производство лучше, качественнее и экологичнее. Именно это формирует доверие наших деловых партнеров, сотрудников и клиентов.' %}</p>
                        <p class="w-100">{% trans 'За прошедшие годы, нам удалось создать собственное производство с командной экспертов, в области изготовления, применения и оптимизации современных модульных зданий, модульных туалетов и изделий из пластика.' %}</p>
                        <p class="w-100">{% trans 'Мы открыты к партнерским отношениям и укреплению долговременных связей, кто ценит время, качество, надежность и профессионализм.' %}</p>
                        <p class="w-100">{% trans 'Евгений Чирьев, директор «KazBioServis-Astana»' %}</p>
                    </div>
                </div>
            </div>
        </section>
      <section class="five">
            <div class="container">
                <h2>{% trans 'Проекты' %}</h2>
                <div class="swiper-container swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="news">
                                {% for project in projects %}
                                <div class="item">
                                    <img src="/media/{{ project.avatar }}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>{{project.date.date}}</p>
                                        </div>
                                        <p>{{project.description}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination-swiper2 swiper-pagination"></div>
                <div class="swiper-container swiper4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="projects">
                                <img src="{% static 'front/img/project1.png' %}" alt="project" class="project">
                                <div class="info">
                                    <div class="info-header">
                                        <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                        <p>1 Августа 2021</p>
                                    </div>
                                    <p>В мае 2020 года компания KazBioServis-Astana начало производство Модульных туалетов, в настоящее время наши модульные установлены в Боровом, в количестве 12 штук</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-swiper4 swiper-pagination"></div>
            </div>
        </section>
      <section class="six">
            <div class="container">
                <h2>{% trans 'Нам доверяют' %}</h2>
                <div class="swiper-container swiper3">
                    <div class="swiper-wrapper">
                        {% for trust in trusted %}
                              <div class="swiper-slide">
                                    <img src="/media/{{ trust.logo }}" alt="partner" class="partner-img">
                              </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-pagination-swiper3"></div>
            </div>
        </section>
        <section class="seven">
            <div class="container">
                <h2>{% trans 'Новости' %}</h2>
                <div class="row">
                    {% for new in news %}
                    <div class="col-md-6 col-12">
                        <div class="novost">
                            <a href="news.html"><img src="/media/{{ new.avatar }}" alt="new" class="w-100"></a>
                            <p class="data">{{new.date}}</p>
                            <p class="about">{{new.description}}</p>
                            <a href="">{% trans 'Подробнее' %}</a>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </section>
        <section class="eight">
            <div class="container">
                <div class="row p">
                    <div class="col-12 col-md-3">
                        <p class="eight-h">{% trans 'Оставить заявку' %}</p>
                    </div>
                </div>
                <div class="row p">
                    <div class="col-12 col-md-5">
                        <input type="name" class="input-name" placeholder="{% trans 'Ваше имя' %}*">
                    </div>
                    <div class="col-12 col-md-5">
                        <input type="name" class="input-tele" placeholder="{% trans 'Номер телефона' %}*">
                    </div>
                    <div class="col-12 col-md-2">
                        <button type="button" class="input-button">{% trans 'Оставить заявку' %}</button>
                    </div>
                </div>
            </div>
        </section>
        {% block footer %}
            {% include 'front/footerload.html' %}
        {% endblock %}
       {% block jsload %}
            {% include 'front/jsloader.html' %}
       {% endblock %}
    </body>
</html>