{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans 'Контакты' %}</title>
         {% block cssload %}
            {% include 'front/cssloader.html' %}
        {% endblock %}
    </head>
    <body>
       {% block header %}
       {% include 'front/headerload.html' %}
       {% endblock %}
        <div class="air"></div>
        <div class="container">
            <div class="bread-crums">
                <a href="{% url 'FrontPage' %}">{% trans 'Главная страница' %}</a>
                <a href="{% url 'front-contacts' %}">{% trans 'Контакты' %}</a>
            </div>
        </div>
        <section class="ten">
            <div class="container j">
                <h2>{% trans 'Контакты' %}</h2>
                <div class="row">
                    <div class="col-md-5">
                        <p><img src="{% static 'front/img/adress.svg' %}" alt="adress"><strong>{% trans 'Адрес' %}:</strong><br>
                             {% for add in address %}
                                {{ add.address }}
                                <br>
                             {% endfor %}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="nomer"><img src="{% static 'front/img/number.svg' %}" alt="number"><strong>{% trans 'Номер телефона' %}:</strong></p><br>
                            {% for ph in phone %}
                            <p class="numer">{{ ph.get_excerpt }}<span class="click">{% trans 'Показать номер' %}</span><p class="number-active">{{ph.phone }}</p>
                                <br>
                            {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <div class="contact-block">
                            <img src="{% static 'front/img/email.svg' %}" alt="email">
                            <p class="email"><strong>Email:</strong><br>
                                    {% for em in email %}
                                        {{em.email}}
                                    {% endfor %}
                            </p>
                        </div>
                        <div class="contact-block">
                            <img src="{% static 'front/img/graphic.svg' %}" alt="graphic">
                            <p class="graphic">
                                {% for wr in worktime %}
                                    {{ wr.holidaytime }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9601dff3df488368a98359cc8eb313de761e36a7308edaae7221d71344bfd3bd&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
            <section class="eight">
                <div class="container">
                    <div class="row p">
                        <div class="col-12 col-md-3">
                            <p class="eight-h">{% trans 'Оставить заявку' %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-5">
                        <input type="name" class="input-name" placeholder="{% trans 'Ваше имя' %}*">
                    </div>
                    <div class="col-12 col-md-5">
                        <input type="name" class="input-tele" placeholder="{% trans 'Номер телефона' %}*">
                    </div>
                        <div class="col-12 col-md-2">
                            <button type="button" class="input-button">{% trans 'Оставить заявку' %}</button>
                        </div>
                    </div>
                </div>
            </section>
            {% block footer %}
                {% include 'front/footerload.html' %}
            {% endblock %}
             {% block jsload %}
                {% include 'front/jsloader.html' %}
            {% endblock %}
    </body>
</html>
