{% load static i18n %}
{% block footer %}
<footer>
                <div class="container">
                    <div class="end">
                        <img src="{% static 'front/img/logo2.svg' %}" alt="logo">
                        <div class="second-part">
                            <ul>
                                <li>
                                    <a href="{% url 'FrontPage' %}">{% trans 'Главная страница' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}">{% trans 'О компании' %}</a>
                                </li>
                                <li>
                                    <a href="#">{% trans 'Продукция' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'front-services' %}">{% trans 'Услуги' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'front-news' %}">{% trans 'Новости' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'front-contacts' %}">{% trans 'Новости' %}</a>
                                </li>
                            </ul>
                            <div class="infos">
                                <a href="#" class="number dop" data-toggle="modal" data-target="#number">{% trans 'Показать номер' %}</a>
                                <p class="email">E-mail:<br>
                                    {% for em in email %}
                                        {{ em.email }}
                                        <br>
                                    {% endfor %}
                                </p>
                                <p class="adress">{% trans 'Адрес' %}:<br>
                                    {% for add in address %}
                                        {{ add.address }}
                                        <br>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
{% endblock %}