{% load static %}
{% load i18n %}
{% block header %}
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content zvz">
                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">Получите бесплатную<br>
                        консультацию</h5>
                    <form class="form" action="{% url 'mailer' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form" value="mail_1">
                        <div class="form__group">
                            <input type="text" placeholder="Имя" name="name">
                        </div>
                        <div class="form__group">
                            <input type="tel" id="tel" placeholder="+7(777)777-77-77" name="phone">
                        </div>
                        <div class="form__group">
                            <input type="email" placeholder="E-mail" name="email">
                        </div>
                        <button type="submit" class="btn btn-primary submt">Оставьте заявку</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="number" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title n" id="exampleModalLabel">
                        {% for ph in phone %}
                            {{ ph.phone }}
                            <br>
                        {% endfor %}
                    </h5>
                </div>
              </div>
            </div>
          </div>
        <header id="navbar">
            <div class="container">
                <div class="mob-header">
                    <div class="inner">
                        <img src="{% static 'front/img/logo.svg' %}" alt="logo" class="logo">
                        <div class="mob-toggle">
                            <span></span>
                        </div>
                    </div>
                    <div class="m-nav">
                        <div class="m-nav-div">
                            <ul>
                                <li>
                                    <a href="{% url 'FrontPage' %}">{% trans 'Главная страница' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}">{% trans 'О компании' %}</a>
                                </li>
                                <li>
                                    <a href="#">{% trans 'Продукция' %}</a>
                                </li>
                                 <li>
                                    <a href="{% url 'front-services' %}">{% trans 'Услуги' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'front-news' %}">{% trans 'Новости' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'front-contacts' %}">{% trans 'Контакты' %}</a>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-12">
                                    <p class="nomer">{% trans 'Телефон' %}:<br>
                                        <a href="tel:+7 700 757 04 75">+7 700 757 04 75</a></p>
                                </div>
                                <div class="col-12">
                                    <p class="adress">{% trans 'Адрес' %}:<br>
                                        г. Нур-Султан, район Сарыарка, Жилой массив Коктал, улица Болашак, дом 34,</p>
                                </div>
                            </div>
                            <img src="{% static 'front/img/logo-mob.svg' %}" class="logo-mob" alt="">
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <a href="{% url 'MainPage' %}"><img src="{% static 'front/img/logo.svg' %}" alt="logo" class="logo"></a>
                    <ul>
                        <li>
                            <a href="{% url 'FrontPage' %}">{% trans 'Главная страница' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">{% trans 'О компании' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'front-services' %}">{% trans 'Услуги' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'front-news' %}">{% trans 'Новости' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'front-contacts' %}">{% trans 'Контакты' %}</a>
                        </li>
                          <li>
                              <form action="{% url 'set_language' %}" method="post">
                              {% csrf_token %}
                                  <input type="hidden" name="next" value="{{ redirect_to }}">
                                    <select class="language" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {% if language.code == 'en' %}
                                                ENG
                                            {% endif %}
                                            {% if language.code == 'ru' %}
                                                RUS
                                            {% endif %}
                                            {% if language.code == 'kk' %}
                                                KAZ
                                            {% endif %}
                                        </option>
                                        {% endfor %}
                                    </select>
                                  <input type="submit" value="Go">
                                  </form>
                                </li>
                        <li>
                            <a href="#" class="number" data-toggle="modal" data-target="#number">{% trans 'Показать номер' %}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </header>
{% endblock header %}