{% load static  i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
        {% block cssload %}
            {% include 'front/cssloader.html' %}
        {% endblock %}
    </head>
    <body>
       {% block header %}
       {% include 'front/headerload.html' %}
       {% endblock %}
        <section class="mainblock">
            <div class="container">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper">
                      {% for slide in sliders %}
                        <div class="swiper-slide">
                        <div class="content">
                            <div class="texts">
                                <h1>{{slide.name}}</h1>
                                <p>{{slide.text}}</p>
                                <button type="button" class="btn btn-primary a" data-toggle="modal" data-target="#exampleModal">
                                   {% trans 'Оставьте заявку' %}
                                </button>
                            </div>
                            <img src="/media/{{ slide.img }}" alt="toilet" class="toilet">
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <section class="two">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="info">
                            <h2>{% trans 'О компании' %}</h2>
                            <p>{% trans 'Компания «KazBioServis-Astana» основана в 2013 году.' %}<br>
                               {% trans ' Главная цель — повысить уровень санитарно-эпидемиологических условий в городе. Деятельность нашей компании основана на продаже, аренде и обслуживании:' %}
                            </p>
                            <p><img src="{% static 'front/img/point.svg'  %}" alt="point">{% trans 'мобильных туалетных кобин' %};</p>
                            <p><img src="{% static 'front/img/point.svg'  %}" alt="point">{% trans 'портативных биотуалетов;' %}</p>
                            <p><img src="{% static 'front/img/point.svg'  %}" alt="point">{% trans 'санитарных средств.' %}</p>
                            <p>{% trans 'В «KazBioServis-Astana» экономим ваше время и средства, обеспечиваем всеми преимуществами комплексного обслуживания - предоставляем полноценный сервис и широкий ассортимент вспомогательных товаров и оборудования.' %}</p>
                            <a href="{% url 'about' %}">{% trans 'Узнать больше' %}</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <img src="{%  static 'front/img/photo1.png' %}" alt="photo1" class="photo1 w-100">
                    </div>
                </div>
            </div>
        </section>
        <section class="three">
            <div class="container">
                <h2>{% trans 'Преимущества' %}</h2>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="block">
                            <img src="{% static 'front/img/block1.svg' %}" alt="block1">
                            <p class="name">{% trans 'Количество оборудования' %}</p>
                            <br>
                            <p class="about">{% trans 'Благодаря налаженному производству наша компания готова обеспечить большое количество продукта в самых разных уголках страны: от городских площадей до национальных парков.' %}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="block">
                            <img src="{% static 'front/img/block2.svg' %}" alt="block1">
                            <p class="name">{% trans 'Доставка, установка,' %}<br>{% trans 'обслуживание под ключ' %}</p>
                            <p class="about">{% trans 'Квалифицированные сотрудники «KazBioServis-Astana» совершают подбор необходимых комплектующих, сопутствующих товаров и дополнительного оборудования конкретно под ваши задачи. Берем ответственность за качество и сервис.' %}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="block">
                            <img src="{% static 'front/img/block3.svg' %}" alt="block1">
                            <p class="name">{% trans 'Собственный парк техники' %}</p>
                            <br>
                            <p class="about">{% trans 'За 8 лет деятельности наша компания приобрела значительный опыт, а продукт вырос в качестве. Сегодня мы улучшаем санитарно-эпидемиологическую обстановку в городе и стране, благодаря собственному производству.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="four">
            <div class="container">
                <h2>{% trans 'Продукция и услуги' %}</h2>
                <div class="product-block">
                    {% for service in services %}
                        <div class="product">
                            <img src="/media/{{service.img}}" alt="product" class="photo-product">
                            <p>{{service.name}}</p>
                            <img src="{% static 'front/img/strelka.svg' %}" alt="strelka" class="strelka">
                        </div>
                    {% endfor %}
                    </div>
                    <button type="button" class="btn btn-primary a b" data-toggle="modal" data-target="#exampleModal">
                        {% trans 'Оставьте заявку' %}
                    </button>
            </div>
        </section>
        <section class="five">
            <div class="container">
                <h2>{% trans 'Проекты' %}</h2>
                <div class="swiper-container swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="news">
                                {% for project in projects %}
                                <div class="item">
                                    <img src="/media/{{ project.avatar }}" alt="project" class="project">
                                    <div class="info">
                                        <div class="info-header">
                                            <img src="{% static 'front/img/data.svg' %}" alt="data" class="clock">
                                            <p>{{project.date.date}}</p>
                                        </div>
                                        <p>{{project.description}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination-swiper2 swiper-pagination"></div>
            </div>
        </section>
        <section class="six">
            <div class="container">
                <h2>{% trans 'Нам доверяют' %}</h2>
                <div class="swiper-container swiper3">
                    <div class="swiper-wrapper">
                        {% for trust in trusted %}
                              <div class="swiper-slide">
                                    <img src="/media/{{ trust.logo }}" alt="partner" class="partner-img">
                              </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-pagination-swiper3"></div>
            </div>
        </section>
        <section class="seven">
            <div class="container">
                <h2>{% trans 'Новости' %}</h2>
                <div class="row">
                    {% for new in news %}
                    <div class="col-md-6 col-12">
                        <div class="novost">
                            <a href="{% url 'front-news-item' new.pk %}"><img src="/media/{{ new.avatar }}" alt="new" class="w-100"></a>
                            <p class="data">{{new.date}}</p>
                            <p class="about">{{new.description}}</p>
                            <a href="{% url 'front-news-item' new.pk %}">{% trans 'Подробнее' %}</a>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </section>
        <section class="eight">
            <div class="container">
                <div class="row p">
                    <div class="col-12 col-md-3">
                        <p class="eight-h">{% trans 'Оставить заявку' %}</p>
                    </div>
                </div>
                <form action="{% url 'mailer' %}" method="post">
                <div class="row">

                        {% csrf_token %}
                        <input type="hidden" name="form" value="mail_2">
                    <div class="col-12 col-md-5">
                        <input type="text" name="name" class="input-name" placeholder="{% trans 'Ваше имя' %}*">
                    </div>
                    <div class="col-12 col-md-5">
                        <input type="text" name="phone" class="input-tele" placeholder="{% trans 'Номер телефона' %}*">
                    </div>
                    <div class="col-12 col-md-2">
                        <button type="submit" class="input-button">{% trans 'Оставить заявку' %}</button>
                    </div>
                </div>
                    </form>
                </div>
        </section>
       {% block footer %}
            {% include 'front/footerload.html' %}
        {% endblock %}
       {% block jsload %}
            {% include 'front/jsloader.html' %}
       {% endblock %}
    </body>