{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
      {% block cssload %}
        {% include 'modules/cssloader.html' %}
        {% endblock cssload %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content zvz">
                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">Получите бесплатную<br>
                        консультацию</h5>
                    <form class="form" action="mail.php" method="POST">
                        <div class="form__group">
                            <input type="name" placeholder="Имя" required="">
                        </div>
                        <div class="form__group">
                            <input type="phone" id="tel" placeholder="Телефон" required="">
                        </div>
                        <div class="form__group">
                            <input type="email" placeholder="E-mail" required="">
                        </div>
                        <button type="submit" class="btn btn-primary submt">Оставьте заявку</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="number" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title n" id="exampleModalLabel">+7 700 757 04 75<br>
                        +7 7172 57 04 75<br>
                        +7 705 444 66 07</h5>
                </div>
              </div>
            </div>
          </div>
          <header id="navbar">
            <div class="container">
                <div class="mob-header">
                    <div class="inner">
                        <img src="{% static 'front/img/logo.svg' %}" alt="logo" class="logo">
                        <div class="mob-toggle">
                            <span></span>
                        </div>
                    </div>
                    <div class="m-nav">
                        <div class="m-nav-div">
                            <ul>
                                <li>
                                    <p><strong>Адрес:</strong><br>
                                        г. Нур-Султан, район Сарыарка,<br>
                                        Жилой массив Коктал, улица Болашак, дом 34,</p>
                                </li>
                                <li>
                                    <p class="mail"><strong>E-mail:</strong><br>
                                        sales@kbs.kz</p>
                                </li>
                               <li>
                              <form action="{% url 'set_language' %}" method="post">
                              {% csrf_token %}
                                  <input type="hidden" name="next" value="{{ redirect_to }}">
                                    <select class="language" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {% if language.code == 'en' %}
                                                ENG
                                            {% endif %}
                                            {% if language.code == 'ru' %}
                                                RUS
                                            {% endif %}
                                            {% if language.code == 'kk' %}
                                                KAZ
                                            {% endif %}
                                        </option>
                                        {% endfor %}
                                    </select>
                                  <input type="submit" value="Go">
                                  </form>
                                </li>
                                <li>
                                    <a href="#" class="number" data-toggle="modal" data-target="#number">Показать номер</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="menu menu-main4">
                    <a href="{% url 'MainPage' %}"><img src="{% static 'front/img/logo.svg' %}" alt="logo" class="logo"></a>
                    <ul>
                        <li>
                            <p>
                                sales@kbs.kz</p>
                        </li>
                        <li>
                            <p class="mail">
                                г. Нур-Султан, район Сарыарка,<br>
                                Жилой массив Коктал, улица Болашак, дом 34,</p>
                        </li>
                        <li>
                              <form action="{% url 'set_language' %}" method="post">
                              {% csrf_token %}
                                  <input type="hidden" name="next" value="{{ redirect_to }}">
                                    <select class="language" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {% if language.code == 'en' %}
                                                ENG
                                            {% endif %}
                                            {% if language.code == 'ru' %}
                                                RUS
                                            {% endif %}
                                            {% if language.code == 'kk' %}
                                                KAZ
                                            {% endif %}
                                        </option>
                                        {% endfor %}
                                    </select>
                                  <input type="submit" value="Go">
                                  </form>
                                </li>
                        <li>
                            <a href="#" class="number" data-toggle="modal" data-target="#number">Показать номер</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="main4">
            <div class="container">
                <div class="content">
                    <div class="main-info">
                        <h1>Plast</h1>
                        <h3>Производим изделия из экопластика<br>
                            высокого качества для бытовых нужд</h3>
                        <div class="buttons">
                            <a href="" class="more" data-toggle="modal" data-target="#exampleModal">Оставить заявку</a>
                            <a href="main1.html" class="video">
                                <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.7504 10.2411C22.1477 10.9974 22.1477 13.0026 20.7504 13.7589L2.95202 23.3926C1.61944 24.1138 7.64342e-07 23.1489 8.30577e-07 21.6337L1.67278e-06 2.36633C1.73901e-06 0.851061 1.61944 -0.113836 2.95202 0.607446L20.7504 10.2411Z" fill="white"/>
                                </svg>                                                              
                            </a>
                        </div>
                    </div>
                    <div class="premiums">
                        <div class="premium">
                            <img src="{% static 'front/img/plast-1.svg' %}" alt="plast">
                            <p>Безупречное<br>качество</p>
                        </div>
                        <div class="premium">
                            <img src="{% static 'front/img/plast-2.svg' %}" alt="plast">
                            <p>Индивидуальный<br>подход</p>
                        </div>
                        <div class="premium">
                            <img src="{% static 'front/img/plast-3.svg' %}" alt="plast">
                            <p>Проффесиональное<br>оборудование</p>
                        </div>
                        <div class="premium">
                            <img src="{% static 'front/img/plast-4.svg' %}" alt="plast">
                            <p>Гибкие цены</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% block jsLod %}
        {% include 'front/jsloader.html' %}
    {% endblock jsLod %}
    </body>