{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ new.name }}</title>
          {% block cssload %}
            {% include 'front/cssloader.html' %}
        {% endblock %}
    </head>
    <body>
         {% block header %}
       {% include 'front/headerload.html' %}
       {% endblock %}
        <div class="air"></div>
        <div class="container">
            <div class="bread-crums">
                <a href="{% url 'FrontPage' %}">{% trans 'Главная страница' %}</a>
                <a href="{% url 'front-news' %}">{% trans 'Новости' %}</a>
                <a href="{% url 'front-news-item' new.pk %}">{{ new.name }}</a>
            </div>
        </div>
        <section class="serviceblock">
            <div class="container">
                <h2>{{new.name}}</h2>
                <div class="row">
                    <div class="col-12">
                         <img src="/media/{{new.avatar}}" alt="new" class="w-100">
                    </div>
                </div>
                {{new.text | safe}}
            </div>
        </section>
        <section class="eight">
            <div class="container">
                <div class="row p">
                    <div class="col-12 col-md-3">
                        <p class="eight-h">{% trans 'Оставьте заявку' %}</p>
                    </div>
                </div>
                <div class="row">
                      <div class="col-12 col-md-5">
                        <input type="name" class="input-name" placeholder="{% trans 'Ваше имя' %}*">
                    </div>
                    <div class="col-12 col-md-5">
                        <input type="name" class="input-tele" placeholder="{% trans 'Номер телефона' %}*">
                    </div>
                    <div class="col-12 col-md-2">
                        <button type="button" class="input-button">{% trans 'Оставить заявку' %}</button>
                    </div>
                </div>
            </div>
        </section>
      {% block footer %}
            {% include 'front/footerload.html' %}
        {% endblock %}
       {% block jsload %}
            {% include 'front/jsloader.html' %}
       {% endblock %}
    </body>
</html>
