{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans 'Услуги' %}</title>
          {% block cssload %}
            {% include 'front/cssloader.html' %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
       {% include 'front/headerload.html' %}
       {% endblock %}
        <div class="air"></div>
        <div class="container">
            <div class="bread-crums">
                <a href="{% url 'FrontPage' %}">{% trans 'Главная страница' %}</a>
                <a href="{% url 'front-services' %}">{% trans 'Услуги' %}</a>
            </div>
        </div>
        <section class="four">
            <div class="container">
                <h2>{% trans 'Продукция и услуги' %}</h2>
                <div class="product-block">
                        {% for service in services %}
                        <div class="product">
                            <a href="{% url 'front-service-item' service.pk %}"><img src="/media/{{ service.img }}" alt="product" class="photo-product"></a>
                            <p>{{service.name}}</p>
                            <a href="{% url 'front-service-item' service.pk %}">
                            <img src="{% static 'front/img/strelka.svg' %}" alt="strelka" class="strelka">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-primary a b" data-toggle="modal" data-target="#exampleModal">
                        {% trans 'Оставьте заявку' %}
                    </button>
            </div>
        </section>
        <section class="eight">
            <div class="container">
                <div class="row p">
                    <div class="col-12 col-md-3">
                        <p class="eight-h">{% trans 'Оставить заявку' %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-5">
                        <input type="name" class="input-name" placeholder="{% trans 'Ваше имя' %}*">
                    </div>
                    <div class="col-12 col-md-5">
                        <input type="name" class="input-tele" placeholder="{% trans 'Номер телефона' %}*">
                    </div>
                    <div class="col-12 col-md-2">
                        <button type="button" class="input-button">{% trans 'Оставить заявку' %}</button>
                    </div>
                </div>
            </div>
        </section>
        {% block footer %}
            {% include 'front/footerload.html' %}
        {% endblock %}
       {% block jsload %}
            {% include 'front/jsloader.html' %}
       {% endblock %}
    </body>
</html>


