{% block header %}
{% load static i18n %}
 <header id="navbar">
            <div class="container">
                <div class="mob-header">
                    <div class="inner">
                        <img src="{% static 'front/img/logo.svg' %}" alt="logo" class="logo">
                        <div class="mob-toggle">
                            <span></span>
                        </div>
                    </div>
                    <div class="m-nav">
                        <div class="m-nav-div">
                            <ul>
                                <li>
                                    <p><strong>Адрес:</strong><br>
                                        г. Нур-Султан, район Сарыарка,<br>
                                        Жилой массив Коктал, улица Болашак, дом 34,</p>
                                </li>
                                <li>
                                    <p class="mail"><strong>E-mail:</strong><br>
                                        sales@kbs.kz</p>
                                </li>
                                 <li>
                              <form action="{% url 'set_language' %}" method="post">
                              {% csrf_token %}
                                  <input type="hidden" name="next" value="{{ redirect_to }}">
                                    <select class="language" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {% if language.code == 'en' %}
                                                ENG
                                            {% endif %}
                                            {% if language.code == 'ru' %}
                                                RUS
                                            {% endif %}
                                            {% if language.code == 'kk' %}
                                                KAZ
                                            {% endif %}
                                        </option>
                                        {% endfor %}
                                    </select>
                                  <input type="submit" value="Go">
                                  </form>
                                </li>
                                <li>
                                    <a href="#" class="number" data-toggle="modal" data-target="#number">Показать номер</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="menu">
                   <a href="{% url 'MainPage' %}"><img src="{% static 'front/img/logo.svg' %}" alt="logo" class="logo"></a>
                     <ul>
                        <li>
                            <p><strong>Адрес:</strong><br>
                                г. Нур-Султан, район Сарыарка,<br>
                                Жилой массив Коктал, улица Болашак, дом 34,</p>
                        </li>
                        <li>
                            <p class="mail"><strong>E-mail:</strong><br>
                                sales@kbs.kz</p>
                        </li>
                         <li>
                              <form action="{% url 'set_language' %}" method="post">
                              {% csrf_token %}
                                  <input type="hidden" name="next" value="{{ redirect_to }}">
                                    <select class="language" name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {% if language.code == 'en' %}
                                                ENG
                                            {% endif %}
                                            {% if language.code == 'ru' %}
                                                RUS
                                            {% endif %}
                                            {% if language.code == 'kk' %}
                                                KAZ
                                            {% endif %}
                                        </option>
                                        {% endfor %}
                                    </select>
                                  <input type="submit" value="Go">
                                  </form>
                                </li>
                        <li>
                            <a href="#" class="number" data-toggle="modal" data-target="#number">Показать номер</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
{% endblock header %}