{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
        {% block cssload %}
        {% include 'modules/cssloader.html' %}
        {% endblock cssload %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content zvz">
                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">Получите бесплатную<br>
                        консультацию</h5>
                    <form class="form" action="mail.php" method="POST">
                        <div class="form__group">
                            <input type="name" placeholder="Имя" required="">
                        </div>
                        <div class="form__group">
                            <input type="phone" id="tel" placeholder="Телефон" required="">
                        </div>
                        <div class="form__group">
                            <input type="email" placeholder="E-mail" required="">
                        </div>
                        <button type="submit" class="btn btn-primary submt">Оставьте заявку</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="number" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title n" id="exampleModalLabel">+7 700 757 04 75<br>
                        +7 7172 57 04 75<br>
                        +7 705 444 66 07</h5>
                </div>
              </div>
            </div>
          </div>
         {% block header %}
        {% include 'plast/headerload.html' %}
        {% endblock header %}
        <section class="main3">
            <div class="container">
                <div class="content">
                    <div class="main-info">
                        <h1>Auto</h1>
                        <h3>Профессионально переоборудуем<br>вашу спецтехнику. Установка и<br>
                            монтаж под ключ.</h3>
                        <div class="buttons">
                            <a href="" class="more" data-toggle="modal" data-target="#exampleModal">Оставить заявку</a>
                            <a href="main1.html" class="video">
                                <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.7504 10.2411C22.1477 10.9974 22.1477 13.0026 20.7504 13.7589L2.95202 23.3926C1.61944 24.1138 7.64342e-07 23.1489 8.30577e-07 21.6337L1.67278e-06 2.36633C1.73901e-06 0.851061 1.61944 -0.113836 2.95202 0.607446L20.7504 10.2411Z" fill="white"/>
                                </svg>                                                              
                            </a>
                        </div>
                    </div>
                    <img src="{% static 'front/img/auto-png.png' %}" alt="auto" width="48%">
                </div>
            </div>
        </section>
        <section class="info-auto">
            <div class="container">
                <div class="autos">
                    <div class="auto">
                        <div class="information">
                            <h1><span>01.</span> КОНЦЕПЦИЯ</h1>
                            <p>Наши внутренние возможности позволяют нам разрабатывать и создавать продукты, которые являются дальновидными, уникальными и эффективными. Наша команда будет работать с вами, чтобы создать решение, которое будет работать именно так, как вам нужно.</p>
                        </div>
                        <img src="{% static 'front/img/auto-1.png' %}" alt="auto" class="w-100">
                    </div>
                    <div class="auto">
                        <img src="{% static 'front/img/auto-2.png' %}" alt="auto" class="w-100">
                        <div class="information">
                            <h1><span>02.</span> 3D СКАНИРОВАНИЕ</h1>
                            <p>Используя технологию 3D-сканирования, мы можем в цифровом виде запечатлеть поверхность объекта, например, передней части вашего автомобиля. Используя эти данные, мы можем разработать продукты, которые точно подходят вашему автомобилю.</p>
                        </div>
                    </div>
                    <div class="auto">
                        <div class="information">
                            <h1><span>03.</span> САПР ДИЗАЙН</h1>
                            <p>Наши внутренние возможности позволяют нам разрабатывать и создавать продукты, которые являются дальновидными, уникальными и эффективными. Наша команда будет работать с вами, чтобы создать решение, которое будет работать именно так, как вам нужно.</p>
                        </div>
                        <img src="{% static 'front/img/auto-3.png' %}" alt="auto" class="w-100">
                    </div>
                    <div class="auto">
                        <img src="{% static 'front/img/auto-4.png' %}" alt="auto" class="w-100">
                        <div class="information">
                            <h1><span>04.</span> 3D СКАНИРОВАНИЕ</h1>
                            <p>Добавление таких больших компонентов к вашему автомобилю может повлиять на его управляемость. Вот почему мы проводим полный анализ центра тяжести, чтобы гарантировать, что вес остается низким, а центр масс не слишком далеко позади задней оси, обеспечивая оптимальную устойчивость.</p>
                        </div>
                    </div>
                    <div class="auto">
                        <div class="information">
                            <h1><span>05.</span> РАЗРАБОТКА И ТЕСТИРОВАНИЕ</h1>
                            <p>Продукция Utemaster славится своей долговечностью и конструктивным исполнением, отвечающим назначению. Это достигается за счет тщательного прототипирования, разработки и многочасового тестирования в среде «рабочей лошадки». Мы считаем, что наши продукты должны отлично выглядеть и хорошо работать, но при этом никогда не ставятся под угрозу качество и долговечность.</p>
                        </div>
                        <img src="{% static 'front/img/auto-5.png' %}" alt="auto" class="w-100">
                    </div>
                    <div class="auto">
                        <img src="{% static 'front/img/auto-6.png' %}" alt="auto" class="w-100">
                        <div class="information">
                            <h1><span>06.</span> ЛАЗЕР И ЧПУ</h1>
                            <p>Детали, разработанные в САПР, загружаются в высокотехнологичные станки для лазерной резки, которые вырезают материал до необходимой формы с допуском +/- 0,1 мм. Затем детали загружаются в тормозной пресс с ЧПУ, чтобы придать им форму.</p>
                        </div>
                    </div>
                    <div class="auto">
                        <div class="information">
                            <h1><span>07.</span> ОБРАБОТКА ПОВЕРХНОСТИ И ПОРОШКОВОЕ ПОКРЫТИЕ</h1>
                            <p>Все стальные компоненты обрабатываются методом «гальваники» против ржавчины, а затем покрываются прочным порошковым покрытием, предназначенным для сохранения великолепного внешнего вида продукта на долгие годы.</p>
                        </div>
                        <img src="{% static 'front/img/auto-7.png' %}" alt="auto" class="w-100">
                    </div>
                    <div class="auto">
                        <img src="{% static 'front/img/auto-8.png' %}" alt="auto" class="w-100">
                        <div class="information">
                            <h1><span>08.</span> СБОРКА</h1>
                            <p>Окончательная сборка продуктов выполняется с использованием бережливых методов, чтобы обеспечить оптимальную скорость и обслуживание.</p>
                        </div>
                    </div>
                    <div class="auto">
                        <div class="information">
                            <h1><span>09.</span> УСТАНОВКА К АВТОМОБИЛЮ</h1>
                            <p>Если возможно, мы предлагаем полную услугу по установке вашего автомобиля на месте или одним из наших многочисленных установщиков, расположенных по всей Новой Зеландии.</p>
                        </div>
                        <img src="{% static 'front/img/auto-9.png' %}" alt="auto" class="w-100">
                    </div>
                    <div class="auto">
                        <img src="{% static 'front/img/auto-10.png' %}" alt="auto" class="w-100">
                        <div class="information">
                            <h1><span>10.</span> ТЕСТ ВОДЫ</h1>
                            <p>Гидроизоляция имеет первостепенное значение для большинства продуктов Utemaster, и после установки продукта мы гарантируем, что ваше снаряжение останется сухим, имитируя ливень.</p>
                        </div>
                    </div>
                    <div class="auto">
                        <div class="information">
                            <h1><span>11.</span> ПРОВЕРКА КАЧЕСТВА</h1>
                            <p>Перед тем, как какой-либо продукт покидает наш завод, он проходит тщательный контроль качества, чтобы убедиться, что сборка завершена на 100% и соответствует стандартам высокого качества, на которых построен Utemaster. Компания Utemaster имеет аккредитацию ISO9001, поэтому вы можете быть уверены в неизменной приверженности качеству.</p>
                        </div>
                        <img src="{% static 'front/img/auto-11.png' %}" alt="auto" class="w-100">
                    </div>
                    <div class="auto">
                        <img src="{% static 'front/img/auto-12.png' %}" alt="auto" class="w-100">
                        <div class="information">
                            <h1><span>12.</span> ЗАВЕРШЕНИЕ УСТАНОВКИ</h1>
                            <p>Доставка включает в себя либо личный сбор, доставку автовозом, либо общенациональную службу грузовых перевозок в нашу обширную дилерскую сеть.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="eight">
            <div class="container">
                <div class="row p">
                    <div class="col-12 col-md-3">
                        <p class="eight-h">Оставить заявку</p>
                    </div>
                </div>
                <form action="mail.php" method="POST">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <input type="name" class="input-name" placeholder="Ваше имя*" required="">
                        </div>
                        <div class="col-12 col-md-5">
                            <input type="phone" class="input-tele" placeholder="Номер телефона*" required="">
                        </div>
                        <div class="col-12 col-md-2">
                            <button type="submit" class="input-button">ОСТАВИТЬ ЗАЯВКУ</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="end">
                    <img src="{% static 'front/img/logo2.svg' %}" alt="logo">
                    <div class="second-part">
                        <div class="infos">
                            <a href="#" class="number dop" data-toggle="modal" data-target="#number">Показать номер</a>
                            <p class="email">E-mail:<br>
                                sales@kbs.kz</p>
                            <p class="adress">Адрес:<br>
                                г. Нур-Султан, район Сарыарка,<br>
                                Жилой массив Коктал, улица Болашак, дом 34,</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% block js_load %}
            {% include 'front/jsloader.html' %}
        {% endblock js_load %}
    </body>