{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
          {% block cssload %}
            {% include 'front/cssloader.html' %}
        {% endblock %}
    </head>
    <body>
        <svg width="1440" height="805" class="icon" viewBox="0 0 1440 805" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M722.508 312.225V339.316H754.077C770.496 339.316 783.975 352.766 783.975 369.156V400.828H811.111V351.658C811.111 330.109 793.395 312.225 771.632 312.225H722.508Z" fill="#465998"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M685.809 466.465C669.429 466.465 655.979 452.987 655.979 436.564V405.008H628.889V454.098C628.889 475.691 646.762 493.611 668.311 493.611H717.492V466.465H685.809Z" fill="#465998"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M722.508 492.205V512H782.639C808.42 512 829.5 490.931 829.5 465.129V405.008H809.694H782.993V436.063C782.993 452.226 769.728 465.49 753.572 465.49H722.508V492.205Z" fill="#465998"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M693.286 357.079H746.634C757.242 357.079 765.961 365.775 765.961 376.33V429.51C765.961 440.087 757.242 448.776 746.634 448.776H693.286C682.687 448.776 673.943 440.087 673.943 429.51V376.33C673.943 365.775 682.687 357.079 693.286 357.079Z" fill="#89C42C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M630.269 400.828H656.938V369.647C656.938 353.51 670.178 340.269 686.303 340.269H717.492V313.598V293.836H657.289C631.541 293.836 610.5 314.886 610.5 340.629V400.828H630.269Z" fill="#465998"/>
            <path d="M720.836 311.389H770.508C792.891 311.389 811.111 329.44 811.111 351.191V401.664" stroke="white" stroke-width="3"/>
            <path d="M628.889 404.172V453.262C628.889 474.855 646.931 492.775 668.683 492.775H718.746" stroke="white" stroke-width="3"/>
            <path d="M721.254 511.164H782.639C808.42 511.164 829.5 490.095 829.5 464.293V404.172" stroke="white" stroke-width="3"/>
            <path d="M719.164 293H658.02C631.87 293 610.5 314.379 610.5 340.524V401.664" stroke="white" stroke-width="3"/>
            <path d="M811 400L2849 402" stroke="white" stroke-width="3"/>
            <path d="M-954 402L629 402" stroke="white" stroke-width="3"/>
            <path d="M720.002 312L720 -292" stroke="white" stroke-width="3"/>
            <path d="M720 1030L720 491" stroke="white" stroke-width="3"/>
            </svg>
            
        <div class="choose-block">
            <div class="choose">
                <div class="main-info">
                    <h1>Service</h1>
                    <h2>Аренда и обслуживание биотуалетов</h2>
                    <div class="buttons">
                        <a href="{% url 'FrontPage' %}" class="more">Узнайте больше</a>
                        <a href="{% url 'FrontPage' %}" class="video">
                            <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7504 10.2411C22.1477 10.9974 22.1477 13.0026 20.7504 13.7589L2.95202 23.3926C1.61944 24.1138 7.64342e-07 23.1489 8.30577e-07 21.6337L1.67278e-06 2.36633C1.73901e-06 0.851061 1.61944 -0.113836 2.95202 0.607446L20.7504 10.2411Z" fill="white"/>
                            </svg>                                                              
                        </a>
                    </div>
                </div>
                <img src="{% static 'front/img/toilet.svg' %}" alt="toilet">
            </div>
            <div class="choose">
                <div class="main-info">
                    <h1>Modules</h1>
                    <h2>Производство модульных зданий</h2>
                    <div class="buttons">
                        <a href="{% url 'MainModules' %}" class="more">Узнайте больше</a>
                        <a href="{% url 'MainModules' %}" class="video">
                            <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7504 10.2411C22.1477 10.9974 22.1477 13.0026 20.7504 13.7589L2.95202 23.3926C1.61944 24.1138 7.64342e-07 23.1489 8.30577e-07 21.6337L1.67278e-06 2.36633C1.73901e-06 0.851061 1.61944 -0.113836 2.95202 0.607446L20.7504 10.2411Z" fill="white"/>
                            </svg>                                                              
                        </a>
                    </div>
                </div>
                <img src="{% static 'front/img/toilet1.svg' %}" alt="toilet" width="70%">
            </div>
            <div class="choose">
                <div class="main-info">
                    <h1>Plast</h1>
                    <h2>Производство<br>изделии из пластика</h2>
                    <div class="buttons">
                        <a href="{% url 'AutoPage' %}" class="more">Узнайте больше</a>
                        <a href="{% url 'AutoPage' %}" class="video">
                            <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7504 10.2411C22.1477 10.9974 22.1477 13.0026 20.7504 13.7589L2.95202 23.3926C1.61944 24.1138 7.64342e-07 23.1489 8.30577e-07 21.6337L1.67278e-06 2.36633C1.73901e-06 0.851061 1.61944 -0.113836 2.95202 0.607446L20.7504 10.2411Z" fill="white"/>
                            </svg>                                                              
                        </a>
                    </div>
                </div>
                <img src="{% static 'front/img/toilet3.svg' %}" alt="toilet">
            </div>
            <div class="choose">
                <div class="main-info">
                    <h1>Auto</h1>
                    <h2>Переоборудование<br>спецтехники</h2>
                    <div class="buttons">
                        <a href="{% url 'PlastPage' %}" class="more">Узнайте больше</a>
                        <a href="{% url 'PlastPage' %}" class="video">
                            <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7504 10.2411C22.1477 10.9974 22.1477 13.0026 20.7504 13.7589L2.95202 23.3926C1.61944 24.1138 7.64342e-07 23.1489 8.30577e-07 21.6337L1.67278e-06 2.36633C1.73901e-06 0.851061 1.61944 -0.113836 2.95202 0.607446L20.7504 10.2411Z" fill="white"/>
                            </svg>                                                              
                        </a>
                    </div>
                </div>
                <img src="{% static 'front/img/toilet4.svg' %}" alt="toilet">
            </div>
        </div>
    </body>
</html>
